@import 'config';
@import 'menu';

* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    
}

//Headings
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading{
        font-size: 6rem;
    }

    &.sm-heading{
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        //background: rgba(lighten($primary-color, 2),0.5);
    }
}

a {
    color:#fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary{
    color: $primary-color;
    background-color: rgba($box-color,$box-opacity);
    width: 300px;
    height: 100px;
    border: 20px $box-color;
    box-sizing: border-box;
    padding:10px;
    
}

main{
    padding: 15rem;
    // height:100%;
    display:flex;
    flex-flow: column;
    justify-content: center;
    text-align:center;
    //margin: 0 auto;
    align-items: center;
    min-height: calc(100vh - 60px);
    

    .about-title{
        flex:1;
    }

    &#home {
        overflow: hidden;
        
        h1 {
            margin-top: 7vh;
        }
    }

    .index-box {
        background: #aaa7;
        padding-top: 0.2em;
        padding-bottom: 3em;
    }
    

    
}

.view-more{
    display: inline-block;
    margin-top:3rem;
    width: 6em;
    height: 2em;
    border: 6px solid #000;
    box-sizing: border-box;
    font-size:3em;
    
    a{
        color:#000;
        &:hover{
            color:#fff;
            transition: all 0.3s;
        }
    }
    &:hover{
        background: #000;
        color:#fff;
        transition: all 0.3s;
    }  
}
.icons{
    margin-top:1rem;

    a{
        padding: 0.4rem;
        color: map-get($colors , darkness );

        &:hover{
            color: map-get($colors , icon_hover);
            @include easeOut();
        }
    }
}

.about-info {
    
    margin-top: 3rem;
    display:flex;
    justify-content:center;
    max-width: 100rem;
    width: 100%;
    box-sizing: border-box;

    .bio-image {
        flex:1;
        order:1;
        border-radius: 50%;
        border: $secondary-color 3px solid;
        max-width:20rem;

    }

    .bio {
        margin-left:4rem;
        flex:2;
        order:2;
        align-content: center;
        max-width: 50rem;
        }
}

.job {
    display:flex;
    justify-content: center;
    margin-top: 10px;
    background: lighten($primary-color, 5s);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
    font-size: 20pt;
    .job-1 {
        flex:3;
        order:3;
        
    }
}


.animated {
    margin:0em;
}
.slide-in-right{
    animation: 1s ease infinite pulse;

}


.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bar {
    color: #666;
    height: 22px;
    position: relative;
    background-color: #eee;
    margin: 0 0 12px 0;
    align-items: flex-end;
    font-size: 8pt;

    .tag {
        top: 0;
        left: 0;
        position: absolute;
        background-color: #0764f7;
        color: #fff;
        height: 100%;
        width: 110px;
        width: 70px;
    }
    .fill {
        top: 0;
        left: 0;
        position: absolute;
        background-color: #032965;
        padding: 0;
        opacity: 1;
    }
}

span{
    z-index: 1;
    padding: 0 15px 0 0;
}

.flex-50-gt-sm {
    display: block;
}


.bold {
    font-family: 'Trebuchet MS';
}

.bars-wrap{
    //margin: 300px auto 0 auto;
    width: calc(100% - 15px);
    max-width: 90%;
}





hr{
  border-style:solid;
  border-width: 3px;
  color:$box-color;
}

// Work/Projects
.projects {
    margin-top: 3rem;
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);

    img {
        width: 100%;
        border: 3px #fff solid;

        &:hover {
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}

//Button Styles
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    &:hover {
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }
}

.btn-dark{
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;
}

.btn-light {
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;
}

//Contact Page
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

    div {
        font-size: 2rem;
        border: 3px #fff solid;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include easeOut;

        &:hover {
            padding: 0.5rem 1.5rem;
            background: $secondary-color;
            color: set-text-color($secondary-color);
            span {
                color: set-text-color($secondary-color);
            }
        }
    }
}

#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
}

@import 'mobile';